			html{
	     font-size: 8px;
	        }
				/*header*/

				.jumbotron {
				    
				    text-align: center;
				    margin-top: 30px;
				    font-family: cursive;
				    letter-spacing: 12px;
				    
				}
		    
		    /*footer*/

				footer {
				    background: black;
				    font-family: cursive;
				    color: white;
				    margin-top: 4%;
				}


				/*footer icon*/

				footer a {
				    width: 3.5%;
				}
/*media query*/
	 @media (min-width: 33.9em) { 
	 
	          html {
	         font-size: 10px;
	       }
	 
	 
	  }
	 /**
	  * Small devices (phones, tablets less than 48em)
	   */
	 @media (min-width: 47.9em) {
	      html {
	     font-size: 12px;
	   }
	 }
	 
	 /**
	 * Medium devices (tablets, small laptops less than 62em)
	  
	  */
	 @media (min-width: 61.9em) {
	    html {
	     font-size: 14px;
	   }
	 
	  }
	 
	 /**
	  * Large devices (desktops, screens less than 75em)
	 
	  */
	 @media (min-width: 74.9em) {
	       
	 html {
	     font-size: 16px;
	   }
	 } 